# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.factorypath
*.swp
*.swo
*~

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Results
results/
*.jfr
*.jtl
*.hdr
*.bin

# Logs
*.log
logs/

# Docker
postgres_data/
